@import url('./../fonts/iconfont.css');//字体文件

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    outline: none;
    list-style: none;

}

html {
    position: relative;
    height: 100%;
}

body {
    overflow-x: hidden;
    min-height: 100%;
    background: #EFEFEF;
}

a {
    color: #565656;
    text-decoration: none;
    cursor: pointer !important;
}

#app {
    position: absolute;
    min-height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 55;
}


